*, *::after, *::before { 
  box-sizing: border-box;
}

:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 20%);
}

body {
  margin: 0;
  background-color: var(--background-color);
}
.paddle {
  --position: 50;
  
  
  position: absolute;
  background-color: var(--foreground-color);
  top: calc(var(--position) * 1vh);
  transform: traslateY(-50%);
  width: 1vh;
  height: 10vh;
}


.paddle.left {
  left: 1vw;
}


.paddle.right { 
  right: 1vw
}
